*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-color: #4A3933;
    --secondary-color: #F0A500;
    --danger-color: #E45826;
    --light-color: #E6D5B8;
}

.primary-font {
    font-family: 'Open Sans', sans-serif;
}

.secondary-font {
    font-family: 'Dancing Script', cursive;
}

.primary-bg{
    background-color: var(--primary-color);
}

.secondary-bg{
    background-color: var(--secondary-color);
}

.danger-bg{
    background-color: var(--danger-color);
}

.light-bg{
    background-color: var(--light-color);
}

.color-primary{
    color: var(--primary-color);
}

.color-secondary{
    color: var(--secondary-color);
}

.color-danger{
    color: var(--danger-color);
}

.color-light{
    color: var(--light-color);
}